name {
  font-size: 36px;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}

headerWords {
  font-size: 15px;
  font-weight: regular;

}

.header{
  text-align: center;
  background-color: rgb(216, 218, 222);
}

.body{

}

.center{
  text-align: center;
}

ul{
  display:inline-block;
  margin-top: 5;
  margin-bottom: 20;
}

titlesection {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding:0;
  border-bottom: 2px solid black;
}

h1 {
  font-size: 16px;
  padding: 0;
  margin-bottom: 0;
  color: black;
}

h2 {
  font-size: 15px;
  font-style: italic;
  margin: 0;
  padding: 0;
  color: grey;
  color-weight: 100;
  padding-bottom: 0;

}
